*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/rename_to_pinyin.py
/诸暨公交语音合成
/bus_card_reader_icon.psd
/log.txt
/app/release/*
!/app/release/.gitkeep
/ApkUpload.py
/诸暨公交地图全揽
公交报站AI语音生成.py
voicepack_online_plan.md
/.workbuddy/memory/
